/*.header-resume {   -----PRE BOOTSTRAP HEADER
  background-color: black;
  color: white;
}

.resume-nav {
  display: inline-block;
}
.resume-name {
  display: inline-block;
  
}
.header-resume li {
  display: inline;

}*/