.navbar {
  background-color: black;


}

nav .nav-item a {
  color: white;
  text-decoration: none;
}

nav .nav-item.name a {
  font-size: 50px;
 
}

nav ul .nav-item a:hover {
  background-color: transparent;


}

nav {
  padding-right: 20px;
}
