@import url('https://fonts.googleapis.com/css?family=Orbitron');

.todo-container {
  color: lime;
  border: 10px solid green;
  width: 650px;
  min-width: 650px;
  min-height: 100px;
  background-color: white;
  margin: 0 auto;
  margin-top: 10px;
  .title-row {
  text-align: center;
 }
}

.input-border {
  border: 2px solid black;
}

.todo-container h1 {
  font-family:'Orbitron';
}

.todo-container .todo {
  background-color: lightgrey;
  font-family: 'Orbitron';
  font-size: 24px;
  padding: 12px 0px 0px 35px;
  height: 55px;
  &.completed {
    background-color: inherit;
  }
  &.completed .todo-title {
    color:lightgrey;
    text-decoration: line-through;
  }
}

.close {
  padding-right: 35px;
  font-size: 32px;
}
